{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>Aprendiendo a usar hbs </h1>
        <p>Hbs me permite usar contenido denamico y que mi pagina se 
            autorecargable y asi solo reutilozar codigo
        </p>
    </div>

    <div class="col-4">
        <img src="asset/img/hbs.jpg" alt="hbs" class="img-thumbnail">
    </div>
</div>
{{> footer}}